* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .s1 {
    background-size: cover;
  }
  .section h1 {
    font-size: 64px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: linear-gradient(to left, #87c7df, #648896);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .s2 {
    background: linear-gradient(to left top, rgb(189, 193, 199), white);
  }
  .s2 h1 {
    font-size: 48px;
    background: linear-gradient(to left, #404042, #373838);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .chair {
    height: 60%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .description {
    margin-top: 20%;
    width: 50%;
    margin-left: 5%;
    font-size: 20px;
  }
  .description p {
    margin: 50px 0px;
  }

  #star1,#star2 {
    animation: fadeIn 2s infinite alternate;
    
}


#star3 {
    animation: fadeIn 3.5s infinite alternate;
    animation-delay: 1.5s
}

#star4 {
    animation: fadeIn 3s infinite alternate;
    animation-delay: 1s;
    
}

#star5 {
    animation: fadeIn 1.5s infinite alternate;
    animation-delay: 2s;
}

#pencil,#armr {
  animation-name: shake;
  animation-duration: 10s;
  animation-iteration-count: infinite;   
}

#arml {
  animation-name: shake;
  animation-duration: 15s;
  animation-iteration-count: infinite;   
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  
}

  20%, 80% {
    transform: translate3d(2px, 0, 0);
}

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
}

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#cloud_1, #cloud_2, #cloud_3 {
  animation: cloudFade 10s infinite;
}

#moon_1, #moon_2 {
  animation: moonFade 10s infinite;
}

#Money {
  animation: moneyFade 10s infinite;
}

#Graph {
  animation: graphFade 10s infinite;
}

#clock {
  animation: clockFade 10s infinite;
}

#hour {
  animation: rotation 18s ease-in-out infinite;
  transform-origin: 49% 51%;
}

#seconds {
  animation: rotation 6s ease-in-out infinite;
  transform-origin: 49% 51%;
}

#minutes {
  animation: rotation 12s ease-in-out infinite;
  transform-origin: 49% 51%;
}

#off_screen {
  animation: fadeScreen 10s infinite ease-in;
}

#off_logo{
  animation: fadeLogo 10s infinite ease-in;
}

@keyframes fadeLogo {
  0%,60% {
    opacity: 0;
  }
  70%, 100% {
    opacity: 1;
  }
}

@keyframes fadeScreen {
  from {
    opacity: 0;
  }
  50%, 100% {
    opacity: 1;
  }
}

@keyframes rotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg)
  }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
}

@keyframes cloudFade {
  0% {
      opacity: 0;
  }
  35%{
    opacity: 1;
  }
  45%, 100% {
    opacity: 0;
  }
}

@keyframes moonFade {
  0% {
      opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60%, 100% {
    opacity: 0;
  }
}

@keyframes clockFade {
  0% {
      opacity: 0;
  }
  25%{
    opacity: 1;
  }
  35%, 100% {
    opacity: 0;
  }
}

@keyframes graphFade {
  0% {
      opacity: 0;
  }
  60%{
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}

@keyframes moneyFade {
  0% {
      opacity: 0;
  }
  75%{
    opacity: 1;
  }
  85%, 100% {
    opacity: 0;
  }
}

@keyframes clockFade {
  0% {
      opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%, 100% {
    opacity: 0;
  }
}

