<!DOCTYPE html>
<head>
    <meta name="google" content="notranslate">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
        <title> Flask Blog - {{ title }} </title>
    {% else %}
        <title> Flask Blog</title>
    {% endif %}
    <title> Dream Journal</title>
    <link
    href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
    rel="stylesheet"
    />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="../static/styles/fullpage.min.css" />
    <link rel="stylesheet" href="../static/styles/technique.css" />
    <link rel="stylesheet" href="../src/style.css" />

</head>
<body class="bg-gray-400 font-sans leading-normal tracking-normal">
    <header class="text-gray-300 body-font bg-gray-700 absolute z-50 w-full">
        <div class="container mx-auto flex flex-wrap p-3 flex-col md:flex-row items-center relative">
          <nav class="flex lg:w-2/5 flex-wrap items-center text-base md:ml-auto">
            <a class="mr-5 hover:text-gray-900" href="{{ url_for('main.home')}}" > Posts </a>
            <a class="mr-5 hover:text-gray-900" href="{{ url_for('main.resources')}}"> Resources</a>
            <a class="mr-5 hover:text-gray-900" href="{{ url_for('main.trends')}}" > Trends </a>

            {% if current_user.is_authenticated %}
              <a class="hover:text-gray-900" href="{{ url_for('users.account')}}" >Account</a>
            {% endif %}
          </nav>
          <a class="flex order-first lg:order-none lg:w-1/5 title-font font-medium items-center text-gray-900 lg:items-center lg:justify-center mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-blue-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl text-gray-300"> Dream Journal</span>
          </a>
          <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
            {% if current_user.is_authenticated %}
            
                <a class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4 mr-2 sm:mt-1 mt-4" href="{{ url_for('users.logout')}}">Logout</a>
            {% else %}
                <a class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4 mr-2 sm:mt-1 mt-4" href="{{ url_for('users.register')}}">Register</a>
            {% endif %}
            
            <button class="inline-flex items-center bg-gray-600 border-0 py-1 px-3 focus:outline-none hover:bg-gray-300 rounded text-base mt-4 md:mt-0">
                {% if current_user.is_authenticated %}
                    <a class="inline-block text-gray-300 no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="{{ url_for('posts.new_post')}}">New Post</a>
                {% else %}
                    <a class="inline-block text-gray-300 py-2 px-4 no-underline hover:text-gray-900" href="{{ url_for('users.login')}}">Login</a>
                {% endif %}
                
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </div>
        </div>
      </header>

    <!--Container-->
    <div class="bg-gray-400 mx-auto md:mt-18 relative">
        <div id="fullpage">
            <section class="section s1">
              <h1 class="text-xl"> Inducing Lucid Dreaming</h1>
              <div class="w-8/12 md:w-2/5 md:ml-32 ml-16">
                <p class="text-xl">
                  Lucid dreaming can occur organically, but it can also be induced with some effort. 
                  Below are some research-supported methods that will help you lucid dream more frequently.
                </p>
              </div>
            </section>
            <section class="section s2">
              <h1 class="text-3xl text-white"> Wake-Induced Lucid Dreaming</h1>
              <div class="md:w-2/5 description mt-20">
                <div class="">
                  <ul class="text-xl text-white">
                    <li class="text-2xl font-semibold"> Step 1</li>
                    <li class="pb-2">
                      Choose a dream that you have often, and can easily recreate in your mind.
                    </li>
                    <li class="text-2xl font-semibold"> Step 2</li>
                    <li class="pb-2">
                      Lie completely still, focusing on the weight of your body sinking into your mattress. 
                      Allow your mind to empty itself and observe the blackness of your closed eyelids. Observe, but don’t interact with the thoughts in your mind. Try to ignore your inner monologue and focus on relaxation.
                      
                    </li>
                    <li class="text-2xl font-semibold"> Step 3</li>
                    <li class="pb-2">
                      After enough time you may experience hypnagogia, which is a transitional stage from wakefulness to sleep. Hypnogagia can be characterized by colors, patterns, and audio hallucinations. You might also experience sleep paralysis, but don’t fight it!
                       You are very close to entering a Wake Induced Lucid Dream.
          
                    </li>
                    <li class="text-2xl font-semibold"> Step 4</li>
                    <li class="pb-2">
                      While in this transition stage, visualize the dream you want to enter. Pay attention to key details, or try to walk around. With enough practice, you will enter a lucid dream!
                    </li>
                  </ul>
                </div>


              </div>
              <img src="../static/imgs/chair2.png" class="chair c2" />
              <img src="../static/imgs/chair3.png" class="chair c1" />
              <img src="../static/imgs/chair1.png" class="chair c3" />
            </section>
            <section class="section s3 flex flex-row">
              <h1 class="text-3xl text-white"> Mnemonic Induced Lucid Dream</h1>
              <div class="md:w-2/5 description mt-20">
                <div class="">
                  <ul class="text-xl text-white">
                    <li class="text-2xl font-semibold"> Step 1</li>
                    <li class="pb-2">
                      As you fall asleep, repeat a short mantra in your head, such as “Next time I’m dreaming, I will remember that I’m dreaming.”
                    </li>
                    <li class="text-2xl font-semibold"> Step 2</li>
                    <li class="pb-2">
                      As you repeat your mantra, visualize what it means. Imagine yourself reenacting a recent dream and recognizing any dream signs or inconsistencies, like recurring characters or impossible physics. For example, if you dreamed about flying last night, practice realizing that flying means you must be dreaming.
                    </li>
                    <li class="text-2xl font-semibold"> Step 3</li>
                    <li class="pb-2">
                      Be sure that the last thought you have before falling asleep is the intention to recognize a dream sign. When you enter a dream, you are more likely to notice those signs and become lucid.
                    </li>
                    <li class="text-2xl font-semibold"> Step 4</li>
                    <li class="pb-2">
                      If you didn't have a dream, try repeating the mantra "next time I am dreaming, I will remember I'm dreaming."
                    </li>
                  </ul>
                </div>

            </section>
            <section class="section s4">
              <h1 class="text-3xl text-white"> Wake Back To Bed</h1>
              <div class="md:w-2/5 description mt-20">
                <div class="">
                  <ul class="text-xl text-white">
                    <li class="text-2xl font-semibold"> Step 1</li>
                    <li class="pb-2">
                      Set an alarm for approximately four to six hours after you go to bed, then fall asleep normally.
                    </li>
                    <li class="text-2xl font-semibold"> Step 2</li>
                    <li class="pb-2">
                      After the alarm wakes you, write down any dreams you remember. Stay up for 30 to 60 minutes and complete a relaxing activity that doesn’t include electronics.
                      
                    </li>
                    <li class="text-2xl font-semibold"> Step 3</li>
                    <li class="pb-2">
                      While you fall back to sleep, practice MILD or WILD. Replay your most recent dream in your mind, and search for any inconsistencies that will help you realize you are dreaming.
          
                    </li>
                    <li class="text-2xl font-semibold"> Step 4</li>
                    <li class="pb-2">
                      If you didn't have a dream, try repeating the mantra "Next time I am dreaming, I will remember I'm dreaming."
                    </li>
                  </ul>
                </div>
             
            </section>
          </div>
      
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
            integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk="
            crossorigin="anonymous"
          ></script>
          <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
            integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U="
            crossorigin="anonymous"
          ></script>  
          <script src="../static/scripts/fullpage.min.js"></script>
          <script src="../static/scripts/app.js"></script>    
    </div>

    <script>
        //Javascript to toggle the menu
        document.getElementById('nav-toggle').onclick = function(){
            document.getElementById("nav-content").classList.toggle("hidden");
        }
    </script>

</body>
  
</html>
