{% extends "layout.html" %}
{% block content %}
<div id="fullpage">
    <section class="section s1">
        <h1> Dream Induced</h1>
        <div class="description">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis aliquam qui quae voluptate dolore atque sapiente, ratione vel. Incidunt, provident.</p>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur omnis minus libero voluptas debitis exercitationem repellendus possimus, nemo, alias ullam veritatis amet dolorem accusamus, dolor corrupti hic. Molestiae, atque itaque?</p>
        </div>
    </section>
    <section class="section s1">
        <h1> Wake Back to Bed</h1>
    </section>
    <section class="section s1">
        <h1> Mnemonic Induced</h1>
    </section>
    <section class="section s1">
        <h1> Wake Induced</h1>
    </section>


</div>
{% endblock content %}