{% extends "layout.html" %}
{% block content %}
    <div class="h-12 mb-0 max-w-5xl mx-auto">
        <div class="rounded-lg flex flex-row p-3">
            <a href=" {{ url_for('main.trending') }}" class=" px-1">
                <button class="h-10 w-16 bg-blue-300 hover:bg-blue-400 text-white rounded-lg justify-center">
                    <h1> Best </h1>
                </button>
            </a>
    
            <a href="{{ url_for('main.posts') }} " class=" px-1">
                <button class="h-10 w-16 bg-blue-300 hover:bg-blue-400 text-white rounded-lg justify-center ">
                    <h1> New </h1>
                </button>
            </a>

        </div>
    </div>
    {% for post in posts.items %}
        <section class="text-gray-700 body-font overflow-hidden rounded-lg my-8 bg-indigo-100 shadow-lg max-w-5xl mx-auto">
            
            <div class="px-5 py-12 mx-auto">

                <div class="-my-8">
                    <div class="py-8 flex flex-wrap md:flex-no-wrap">
                        <div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col justify-between">
                            <div class="flex flex-col">
                                <span class="tracking-widest font-medium title-font text-gray-900">CATEGORY</span>
                                <span class="mt-1 text-gray-500 text-md"> {{ post.date_posted.strftime('%m-%d-%Y') }} </span>
                            </div>
                            <div class="flex flex-col">
                                <span class="mt-1 text-gray-500 text-md"> Upvotes: {{ post.upvotes }} </span>
                                <span class="mt-1 text-gray-500 text-md"> Clarity: {{ post.clarity }} </span>
                            </div>                
                        </div>
                        <div class="md:flex-grow">
                            <div class="flex flex-col">
                                <div class="flex flex-row justify-between">
                                    <div class="">
                                        <h2> <a class="text-2xl font-medium text-gray-900 title-font mb-2" href="{{ url_for('posts.post', post_id=post.id) }}"> {{ post.title }} </a> </h2>
                                    </div>
                                    <div class="text-md mr-4 text-blue-700 font-semibold">
                                        <a href="{{ url_for('users.user_posts', username=post.author.username )}}" > {{ post.author.username }}</a>
                                    </div>
                                </div>
                                <div class="">
                                    <p class="leading-relaxed"> {{post.content }} </p>
                                </div>                                
                            </div>
                            <div class="flex float-right">
                                <a class="text-indigo-500 inline-flex items-center mt-4 mr-4">Read More
                                    <svg class="h-5 w-5 fill-current text-gray-700 ml-1 mt-1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20 10a10 10 0 11-20 0 10 10 0 0120 0zm-2 0a8 8 0 10-16 0 8 8 0 0016 0zm-8 2H5V8h5V5l5 5-5 5v-3z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    {% endfor %}
        <div class="flex justify-center mb-6">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="border border-blue-400 px-2 py-1 bg-blue-600 hover:bg-blue-500 text-white" href="{{ url_for('main.home', page=page_num )}}"> {{ page_num }}</a>
                {% else %}
                    <a class="border border-blue-100 px-2 py-1 bg-blue-200 hover:bg-blue-100 text-white" href="{{ url_for('main.home', page=page_num )}}"> {{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
            {% endfor %}
        </div>

{% endblock content %}
