{% extends "layout.html" %}
{% block content %}
<section class="text-gray-500 bg-gray-900 body-font">
  <div class="container px-5 py-16 mx-auto bg-black flex flex-wrap">
    <div class="w-full mb-12">
        <h1 class="text-4xl text-center text-white font-semibold">
            Reality Testing
        </h1>
        <p class="max-w-2xl text-center mx-auto mt-6 text-base">
            Create a mental habit of performing sensory observations of the world around you. 
            Eventually these habits will transition into your dreams and cause you to realize that you are dreaming! 
            
        </p>
    </div>
    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-24 w-24 sm:mr-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2"> How do these techniques work? </h2>
          <p class="leading-relaxed text-base"> Every action below should produce normal and consistent results in your real life. In the dream state, your mind doesn't operate by the normal laws of physics and will create unusual circumstances.</p>
        </div>
    </div>

    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2"> Why does this work?</h2>
          <p class="leading-relaxed text-base"> Dreams rarely hold up to scrutiny so performing reality checks will exploit the imperfections of the scene your brain generates. The laws of physics are rarely consistent in dreams. This will only work if you fully engage your mind in the reality check. </p>
        </div>
        <div class="sm:w-32 order-first sm:order-none sm:h-32 h-24 w-24 sm:ml-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
        </div>
      </div>

   
    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-24 w-24 sm:mr-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-2"> Breathing </h2>
        <p class="leading-relaxed text-base"> One of the most effective techniques is pinching your nose and trying to breathe simultaneously. In a dream you will be able to breathe as if there is no obstruction.</p>
      </div>
    </div>

    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-2"> Time </h2>
        <p class="leading-relaxed text-base"> People experience this differently but for the most part time is dynamically generated. Glance at a clock or your phone's lock screen in a dream and the time will probably change randomly. </p>
      </div>
      <div class="sm:w-32 order-first sm:order-none sm:h-32 h-24 w-24 sm:ml-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
      </div>
    </div>

    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
      <div class="sm:w-32 sm:h-32 h-24 w-24 sm:mr-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
      </div>
      <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
        <h2 class="text-white text-lg title-font font-medium mb-2"> Text </h2>
        <p class="leading-relaxed text-base"> Similar to the time check, if you glance at writing multiple times there is a high chance that each time the text will be different in a dream. In your own life, pay more attention to text in books, on the tv, on your phone, etc. If it doesn't change when you look back, you are probably awake!
        </p>
      </div>
    </div>

    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2"> Jumping </h2>
          <p class="leading-relaxed text-base"> If you try jumping in a dream, you may end up floating or feel completely stuck in the ground. Either way, you will realize you are dreaming. Once again the laws of physics don't apply equally in dreams, leading ot unusual experiences.</p>
        </div>
        <div class="sm:w-32 order-first sm:order-none sm:h-32 h-24 w-24 sm:ml-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
        </div>
    </div>

    <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-24 w-24 sm:mr-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2"> Mirrors </h2>
          <p class="leading-relaxed text-base"> Your brain won't be able to reflect your image in mirrors. Often mirrors in dreams will present an altered version of yourself. Take notice of the perfection of mirrors in your waking life so that when you cross when in a dream you will notice the imperfections.</p>
        </div>
      </div>
  
      <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-lg title-font font-medium mb-2"> Light Switches </h2>
            <p class="leading-relaxed text-base"> Electrical devices will often fail to work in dreams. Try testing out light switches in your daily like as in the dream world, they probably won't affect anything. </p>
          </div>
          <div class="sm:w-32 order-first sm:order-none sm:h-32 h-24 w-24 sm:ml-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
          </div>
      </div>

      <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="sm:w-32 sm:h-32 h-24 w-24 sm:mr-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
        </div>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
          <h2 class="text-white text-lg title-font font-medium mb-2"> Tattoos</h2>
          <p class="leading-relaxed text-base">Just like your hands are altered, people with tattoos report that their tattoos are often changed in dreams.
              Do a double take on your tattoo in a dream and see if it changes. In general, inspectingy your body closely will probably reveal some inconsistency.</p>
        </div>
      </div>
  
      <div class="flex items-center lg:w-2/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
          <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-lg title-font font-medium mb-2"> Hands</h2>
            <p class="leading-relaxed text-base">Hands may be distorted in your dream. Try pushing one or two fingers through the palm of your other hands. In reality you will be met with resistance but in a dream your fingers might go right
                through your hands. Extra or missing fingers is very common too!</p>
          </div>
          <div class="sm:w-32 order-first sm:order-none sm:h-32 h-24 w-24 sm:ml-10 inline-flex items-center justify-center rounded-lg text-teal-400 bg-gray-800 flex-shrink-0">
          </div>
      </div>



    

  </div>
</section>
{% endblock content %}