

{% extends "layout.html" %}
{% block content %}
    <div class="content-section flex flex-row h-screen max-w-6xl justify-between mx-auto">
        <div class="w-full flex flex-col bg-gray-600 rounded-lg mr-4 justify-center items-center">
            <h1> Info here</h1> 
        </div>
        <div class="w-full max-w-xs">
            <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" method="POST" action="">
                {{ form.hidden_tag() }} <!-- Setting CRF token-->
                <div class="mb-4">
                    {{ form.username.label(class="block text-gray-700 text-sm font-bold mb-2")}}

                    {% if form.username.errors %}
                        {{ form.username(class="shadow appearance-none border border-red-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                            {% for error in form.username.errors %}
                                <span class="text-xs text-red-400"> {{ error }}</span>
                            {% endfor %}
                    {% else %}
                        {{ form.username(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                    {% endif %}

                    
                </div>

                <div class="mb-4">
                    {{ form.email.label(class="block text-gray-700 text-sm font-bold mb-2")}}

                    {% if form.email.errors %}
                    {{ form.email(class="shadow appearance-none border border-red-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                        {% for error in form.email.errors %}
                            <span class="text-xs text-red-400"> {{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.email(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                    {% endif %}

                    
                </div>

                <div class="mb-4">
                    {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2")}}

                    {% if form.password.errors %}
                    {{ form.password(class="shadow appearance-none border border-red-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                        {% for error in form.password.errors %}
                            <span class="text-xs text-red-400"> {{ error }}</span>
                        {% endfor %}
                    {% else %}
                        {{ form.password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                    {% endif %}

                    
                </div>

                <div class="mb-4">
                    {{ form.confirm_password.label(class="block text-gray-700 text-sm font-bold mb-2")}}
                    {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="shadow appearance-none border border-red-400 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                        {% for error in form.confirm_password.errors %}
                            <span class="text-xs text-red-400"> {{ error }} </span>
                        {% endfor %}
                    {% else %}
                        {{ form.confirm_password(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")}}
                    {% endif %}

                    
                </div>

                <div class="flex items-center justify-between">
                    <p> Already have an account? <a class="ml-1 -my-2 text-sm text-blue-600" href="{{ url_for('users.login')}}"> Sign In </a></p>
                    {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline")}}
                </div>
            </form>
        </div>



    </div>
{% endblock content %}

<!-- <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
                        Forgot Password?
                    </a>-->