{% extends "layout.html" %}
{% block content %}
<section class="text-gray-700 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="-my-8 p-4 sm:p-8">
      <div class="max-w-xl flex flex-col text-center md:mt-4 mb-8 mx-auto">
        <h2 class="text-4xl font-medium">
          Research
        </h2>
        <p>
          A collection of some of the best research regarding sleep, ranging from impact on individuals to the economy.
        </p>
      </div>

      <div class="sm:p-4 border-b border-t border-gray-600 border-opacity-50">
        <div class="flex flex-wrap md:flex-no-wrap p-2 sm:p-4 mb-6">
          <div class="flex flex-col justify-center text-center min-w-0 w-1/4">
            <h1 class="text-3xl font-medium sm:p-3 p-2 break-normal"> Impacts of Dreaming </h1>
          </div>

          <div class="min-w-0 md:px-5 md:w-3/4">
            <div class="flex flex-wrap">
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://greatergood.berkeley.edu/article/item/why_your_brain_needs_to_dream" target="_blank">
                  <p class="truncate"> [Article] Why your brain needs to dream, 2017.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour. S. Cohen, R. Conduit, et al</p>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="sm:p-4 border-b border-gray-600 border-opacity-50">
        <div class="flex flex-wrap md:flex-no-wrap p-2 sm:p-4 mb-6">
          <div class="flex flex-col justify-center text-center min-w-0 w-1/4">
            <h1 class="text-3xl font-medium sm:p-3 p-2 break-normal"> Napping </h1>
          </div>

          <div class="min-w-0 md:px-5 md:w-3/4">
            <div class="flex flex-wrap">
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12 hover:text-blue-900 hover:shadow-sm">
                <a href="https://vcresearch.berkeley.edu/news/afternoon-nap-markedly-boosts-brains-learning-capacity" target="_blank">
                  <p class="truncate"> [Article] Boosting the brain's learning capacity through napping, 2010.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/j.1365-2869.2008.00718.x" target="_blank">
                  <p class="truncate"> Benefits of napping in adults, 2009. </p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/jsr.12497" target="_blank">
                  <p class="truncate"> Assessing benefits of napping on processing speed in sleep-restricted adolescents, 2017.</p>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="sm:p-4 border-b border-gray-600 border-opacity-50">
        <div class="flex flex-wrap md:flex-no-wrap p-2 sm:p-4 mb-6">
          <div class="flex flex-col justify-center text-center min-w-0 w-1/4">
            <h1 class="text-3xl font-medium sm:p-3 p-2 break-normal"> Sleep and Brain Development of Children</h1>
          </div>
  
          <div class="min-w-0 md:px-5 md:w-3/4">
            <div class="flex flex-wrap">
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Sleep and behavior in autism spectrum disorder (ASD), 2011.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> REM sleep analysis in children with autism, developmental delay, and typical development, 2010. </p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://www.frontiersin.org/articles/10.3389/fpsyg.2016.01192/full" target="_blank">
                  <p class="truncate"> Sleep and word retention in children, 2016.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://www.nature.com/articles/pr2017318/" target="_blank">
                  <p class="truncate"> Brain development and sleep patterns, 2018.</p>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="sm:p-4 border-b border-gray-600 border-opacity-50">
        <div class="flex flex-wrap md:flex-no-wrap p-2 sm:p-4 mb-6">
          <div class="flex flex-col justify-center text-center min-w-0 w-1/4">
            <h1 class="text-3xl font-medium sm:p-3 p-2 break-normal"> Alchohol and Sleep</h1>
          </div>

          <div class="min-w-0 md:px-5 md:w-3/4">
            <div class="flex flex-wrap">
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Sleep disturbances after acute exposure to alcohol in mothers' milk, 2001.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Hazardous cosleeping environment and risk factors case control study, 2009.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/acer.12006" target="_blank">
                  <p class="truncate"> Effects on Normal Sleep, 2013.</p>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="sm:p-4 border-b border-gray-600 border-opacity-50">
        <div class="flex flex-wrap md:flex-no-wrap p-2 sm:p-4 mb-6">
          <div class="flex flex-col justify-center text-center min-w-0 w-1/4">
            <h1 class="text-3xl font-medium sm:p-3 p-2 break-normal"> Improving Sleep Quality</h1>
          </div>
  
          <div class="min-w-0 md:px-5 md:w-3/4">
            <div class="flex flex-wrap">
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://www.nlm.nih.gov/medlineplus/magazine/issues/summer12/articles/summer12pg20.html" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour.</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour. S. Cohen, R. Conduit, et al</p>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="sm:p-4 border-b border-gray-600 border-opacity-50">
        <div class="flex flex-wrap md:flex-no-wrap p-2 sm:p-4 mb-6">
          <div class="flex flex-col justify-center text-center min-w-0 w-1/4">
            <h1 class="text-3xl font-medium sm:p-3 p-2 break-normal"> Sleep and the Economy</h1>
          </div>
  
          <div class="min-w-0 md:px-5 md:w-3/4">
            <div class="flex flex-wrap">
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="https://www.rand.org/news/press/2016/11/30/index1.html" target="_blank">
                  <p class="truncate"> Economic analysis of sleep loss in the UK, 2016. </p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour</p>
                </a>
              </div>
              <div class="border border-gray-600 my-1 mx-1 rounded-lg p-2 flex-grow-0 min-w-0 h-12">
                <a href="www.duncanstewart.com" target="_blank">
                  <p class="truncate"> Relationship between sleep and behaviour. S. Cohen, R. Conduit, et al</p>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>





    </div>
  </div>
</section>
{% endblock content %}